html, body {
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #555555;
  line-height: 1.4;
  background: #eaeaea;
}
strong {
  font-weight: bold;
}
.content {
  display: block;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 0px 0px 40px 0px;
  text-align: center;
}
.content h2 {
  display: block;
  font-size: 38px;
  color: #f08a21;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 20px 20px 20px;
  padding: 40px 0px 0px 0px;
  line-height: 1;
}
.content p {
  margin: 0px 0px 15px 0px;
}
#header {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: url(../images/gradient.png) repeat-x ;
  text-align: left;
  z-index: 999;
  height: 80px;
}
#header img.logo {
  width: 120px;
  padding: 15px 0px 0px 15px;
  display: inline-block;
  position: relative;
  z-index: 99999;
}
#header #nav {
  font-size: 12px;
  font-weight: 800;
  float: right;
  padding: 20px;
}
#header #nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;  
}
#header #nav a:hover {
  color: #f08a21;
}
.divide {
  display: block;
  width: 100%;
  height: 1px;
  border-top: 2px solid #c4c4c4;
  margin: 30px auto;
}
.mobile-content {
  display: none;
}
.mobile-menu {
  display: none;
}
#header-banner {
  display: block;
  width: 100%;
  padding: 0px 0px;
  overflow: hidden;
  text-align: center;
}
#header-banner li {
  padding: 80px 0px 30px 0px;
  height: 360px;
  width: 100%;
}
#header-banner .slide-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
#header-banner .slider-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}
#header-banner h3 {
  color: #f08a21;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  width: 80%;
  line-height: 1;
  max-width: 600px;
  margin: 0px auto 20px auto;
} 
#header-banner h2 {
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  width: 80%;
  line-height: 1;
  max-width: 600px;
  margin: 0px auto;
} 
#header-banner p {
  width: 80%;
  font-size: 20px;
  max-width: 600px;
  color: #ffffff;
  text-align: center;
  margin: 20px auto;
}
#header-banner a.contact-us {
  border: 1px solid #fff;
  display: inline-block;
  font-size: 17px;
  color: #ffffff;
  padding: 5px 30px;
  text-align: center;
  margin: 10px auto;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;  
}
#header-banner a.contact-us:hover {
  border: 1px solid #f08a21;
  display: inline-block;
  font-size: 17px;
  color: #2a2a2a;
  padding: 5px 30px;
  text-align: center;
  margin: 10px auto;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  background: #f08a21 ;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;  
}
#whatwedo {
  display: block;
  width: 100%;
  padding: 40px 0px;
  overflow: hidden;
}
#whatwedo h2 {
  font-size: 45px;
  padding: 40px 0px 0px 0px;
}
#whatwedo h4  {
  font-size: 15px;
  font-weight: 600;
  margin: 60px 0px 10px 0px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}
#whatwedo h4:before {
  border-top: 2px solid #474747;
  content:"";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 10px; left: 0; right: 0; bottom: 0;
  width: 95%;
  z-index: -1;
}
#whatwedo h4 span { 
  background: #eaeaea; 
  background-size: 15px;
  padding: 0 25px; 
}
#whatwedo h4 span:before { 
  content: "/";
  margin-left: -30px;
  padding-right: 10px;
}
#whatwedo h4 span:after { 
  content: "/";
  margin-right: -30px;
  padding-left: 10px;
}
#whatwedo p {
  margin: 0px auto;
  width: 80%;
  max-width: 500px;
}
#whatwedo ul {
  display: block;
  width: 100%;
  margin: 0px auto;
}
#whatwedo ul li {
  display: block;
  width: 33.333%;
  float: left;
}
#whatwedo ul li h3 {
  color: #474747;
  font-weight: 600;
  margin: 20px auto;
  font-size: 23px;
  text-transform: uppercase;
  line-height: 1.1;
  width: 75%;
}
#whatwedo ul li img {
  display: block;
  margin: 0px auto ;
}
#whatwedo ul li p {
  font-size: 14px;
  width: 75%;
  max-width: 300px;
}
#ouradvantage {
  display: block;
  width: 100%;
  background: url(../images/advantage-bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 40px 0px;
  overflow: hidden;
}
#ouradvantage h2 {
  color: #ffffff; 
  font-size: 45px;
  padding: 40px 0px 0px 0px;
}
#ouradvantage p {
  margin: 0px auto;
  width: 80%;
  max-width: 500px;
  color: #ffffff;
}
#ouradvantage ul {
  display: block;
  width: 100%;
  margin: 40px auto;
}
#ouradvantage ul li {
  display: block;
  width: 33.333%;
  float: left;
}
#ouradvantage ul li h3 {
  color: #474747;
  font-weight: 600;
  margin: 0px auto 20px auto;
  font-size: 23px;
  text-transform: uppercase;
  line-height: 1.1;
  width: 75%;
}
#ouradvantage ul li img {
  display: block;
  margin: 0px auto;
}
#ouradvantage ul li p {
  font-size: 14px;
  width: 75%;
  max-width: 300px;
}
#ourwork {
  padding: 40px 0px;
}
#ourwork .content {
  max-width: 600px;
}
#ourwork h2 {
  font-size: 45px;
  padding: 40px 0px 0px 0px;
}
#ourwork p {
  margin: 0px auto;
  width: 90%;
  max-width: 1000px;
}
#testimonial {
  display: block;
  width: 100%;
  background: url(../images/testimonial-bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 40px 0px;
  overflow: hidden;
}
#testimonial .quotes {
  display: block;
  width: 100%;
  max-width: 1100px;
  margin: 0px auto;
  background: url(../images/quotes.png) no-repeat center center;
  background-size: 80%;
  padding: 60px 0px;
}
#testimonial p {
  width: 45%;
  font-size: 18px;
  max-width: 600px;
  color: #ffffff;
  text-align: center;
  margin: 10px auto;
}
#testimonial p.name {
  font-weight: 600;
}
#testimonial p.name strong {
  color: #f08a21;
}
#clients {
  padding: 40px 0px;
}
#clients .content {
  max-width: 800px;
}
#clients h2 {
  font-size: 45px;
  padding: 40px 0px 0px 0px;
} 
#clients p {
  width: 50%;
  margin: 0px auto;
  padding: 0px 0px 20px 0px;
  max-width: 600px;
}
#clients ul {
  display: block;
  width: 100%;
  padding: 0px 0px 40px 0px;
}
#clients ul li {
  display: block;
  width: 25%;
  float: left;
}
#clients ul li img {
  width: 70%;
  max-width: 150px;
}
#contact {
  display: block;
  width: 100%;
  background: url(../images/contact-bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 40px 0px;
  overflow: hidden;
}
#contact h2 {
  color: #ffffff;
}
#contact p {
  margin: 0px auto;
  width: 80%;
  max-width: 500px;
  color: #ffffff;
}
#contact .contact-info {
  font-size: 18px;
  color: #f08a21;
  margin: 20px 0px 0px 0px;
  text-align: right;
}
#contact .contact-info {
  font-size: 20px;
  color: #f08a21;
  margin: 20px 0px 0px 0px;
  text-align: center;
}
#contact .contact-info a {
  font-size: 18px;
  color: #f08a21;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;  
}
#contact .contact-info a:hover {
  color: #ffffff;
}
#contact .contact-info span {
  display: inline-block;
  float: left;
  padding: 2px 5px 0px 0px;
}
#contact .contact-info span.img {
  width: 40px;
  height: 40px;
  padding: 0px 5px 0px 0px;
}
.main-container {
  float: left;
  position: relative;
  left: 50%;
}
.fixer-container {
  float: left;
  position: relative;
  left: -50%;
}
#contact .contact-info span img{
  width: 100%;
}
.clear {
  display: block;
  clear: both;
}